<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-8 px-sm-0 mx-auto">
    <p class="d-flex align-items-center justify-content-center">ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
    </p>

<p id="notice"></p>
<div class="container">
  <div class="row">
    <h5>新着商品</h5>
    <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size: "100x100" %>
          <p><%= item.name %></p>
          <p>¥<%= item.price %></p>
          <% end %>
        </div>
        <% end %>

      </div>
      <p><%= link_to "全ての商品を見る>>", items_path %></p>
  </div>
    </div>
  </div>
</div>
</div>