<p id="notice"></p>
<div class="container">
  <div class="row">
     <div class="col-md-8 offset-md-1">
      <h3>注文履歴詳細</h3>
      <p id="notice"></p>
        <table>
          <tbody>
            <tr>
              <th>
                購入者
              </th>
              <td>
                <%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer.id) %>
              </td>
            </tr>
            <tr>
              <th>
                注文日
              </th>
              <td>
                <%= @order.created_at.strftime('%Y/%m/%d') %>
              </td>
            </tr>
            <tr>
              <th>
                配送先
              </th>
              <td>
                〒<%= @order.post_code %></br>
                <%= @order.address %></br>
                <%= @order.name %></br>
  			      </td>
            </tr>
            <tr>
              <th>
                支払方法
              </th>
              <td>
                <%= @order.payment_method_i18n %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p class="notice"></p>
  <div class="row" style:"margin-left: 0; margin-right: 0;">
    <div class="col-5 ml-5">
            <table border="1" width="30%" class="table">
              <tbody>
                  <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                  </tr>
                  <% @order.order_items.each do |order_item| %>
                  <tr>
                    <td>
                      <%= order_item.item.name %>
                    </td>
                    <td>
                      ¥<%= (order_item.price * 1.1).floor %>
                    </td>
                    <td>
                      <%= order_item.amount %>
                    </td>
                    <td>
                      ¥<%= (order_item.price * 1.1).floor * order_item.amount %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <div class="col-5 ml-5">
          <table width="30%" class="table" class="justify-self-flex-end">
            <tbody>
                <tr>
                  <th>商品合計</th>
                  <td>
                    ¥<%= @order.billing_amount - @order.postage %>
                  </td>
                </tr>
                <tr>
                  <th>送料</th>
                  <td>
                    ¥<%= @order.postage %>
                  </td>
                </tr>
                <tr>
                  <th>請求額合計</th>
                  <td>
                    ¥<%= @order.billing_amount %>
                    <%#= Order.payment_methods_i18n[@order.payment_method] %>
                    <%#= f.hidden_field :payment_method, value: @order.payment_method %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>



