<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-30 px-3 mx-auto">
    <h2>ショッピングカート</h2>
      <%= link_to "カートを空にする", cart_items_all_destroy_path, class:"btn btn-danger btn-sm", method: :delete %>

      <table class="table">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
        <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.get_image, size: "100x100" %>
              <%= cart_item.item.name %>
            </td>
            <td>¥<%= cart_item.item.with_tax_price%></td>
            <td>
              <%= f.select :amount, *[1..10] %>
			        <%= f.hidden_field :item_id, :value => cart_item.item.id %>
			        <div class="form-group">
                <%= f.submit "変更", class:"btn btn-secondary btn-sm" %>
              </div>
			      </td>
            <td>¥<%= cart_item.subtotal%></td>
              <% @total +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
            <td><%= link_to "削除", cart_item_path(cart_item), class:"btn btn-danger btn-sm", method: :delete %></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>

      <table>
        <tr>
          <th>
            合計金額
          </th>
          <td>
            ¥<%= @total %>
          </td>
        </tr>
      </table>


      <%= link_to "買い物を続ける", root_path, class:"btn btn-primary btn-sm" %>


      <%= link_to "情報入力", new_order_path, class:"btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
