<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-15 col-md-12 col-lg-10 px-5 px-sm-8 mx-auto">
      <h3>注文履歴一覧</h3>
        <table>
          <thead>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>注文詳細</th>
          </thead>
          <tbody>
          <% @order.each do |order| %>
            <tr>
              <td>
                <%= order.created_at %>
              </td>
              <td>
                <%= order.post_code %>
                <%= order.address %>
                <%= order.name %>
                <%#= order.address_display %>
                <%#= f.hidden_field :post_code, value: order.post_code %>
                <%#= f.hidden_field :address, value: order.address %>
                <%#= f.hidden_field :name, value: order.name %>
              </td>
              <td>
                <%#= order.order_items.id %>
  			      </td>
              <td>
                ¥<%= order.billing_amount %>
              </td>
              <td>
                <div class="form-group">
                  <%= link_to "表示する", order_path(order.id), class:"btn btn-primary btn-sm" %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


