<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>注文情報入力</h3>
       <%= form_with model: @order,url: orders_confirm_path do |f| %>
              <table class="table">
                <tbody>
                  <tr>
                    <th>
                      支払方法
                      <%= f.hidden_field :customer_id, :value => current_customer.id %>
                    </th>
                    <td>
                      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
                      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
                    </td>
                    <td>
                      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
                      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      お届け先
                    </th>
                    <td>
                      <%= current_customer.address_display %>
                    </td>
                  </tr>
                  <tr class="form-group">
                    <td>
                    <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
                    </td>
                  </tr>
                </tbody>
              </table>


        <% end %>


