<p class="notice"></p>
<div class="container">
    <h2>注文履歴詳細</h2>
      <p class="notice"></p>
          <div class="row" style:"margin-left: 0; margin-right: 0;">
            <div class="col-5">
              <table border="1" width="30%" class="table">
                <tbody>
                  <h6>注文情報</h6>
                    <tr>
                      <th>注文日</th>
                      <td>
                        <%= @order.created_at %>
                      </td>
                    </tr>
                    <tr>
                      <th>配送先</th>
                      <td>
                        〒<%= @order.post_code %></br>
                        <%= @order.address %></br>
                        <%= @order.name %>
                      </td>
                    </tr>
                    <tr>
                      <th>支払方法</th>
                      <td>
                        <%= @order.payment_method_i18n %>
                        <%#= Order.payment_methods_i18n[@order.payment_method] %>
                        <%#= f.hidden_field :payment_method, value: @order.payment_method %>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <!--<div class="row" style:"margin-left: 0; margin-right: 0;">-->
            <div class="col-5 ml-5">
                <table float="right" border="1" width="30%" class="table" class="justify-self-flex-end">
                  <tbody>
                    <h6>請求情報</h6>
                      <tr>
                        <th>商品合計</th>
                        <td>
                          ¥<%= @order.billing_amount - @order.postage %>
                        </td>
                      </tr>
                      <tr>
                        <th>配送料</th>
                        <td>
                          ¥<%= @order.postage %>
                        </td>
                      </tr>
                      <tr>
                        <th>ご請求額</th>
                        <td>
                          ¥<%= @order.billing_amount %>
                          <%#= Order.payment_methods_i18n[@order.payment_method] %>
                          <%#= f.hidden_field :payment_method, value: @order.payment_method %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
          </div>

          <p class="notice"></p>
          <!--<div class="container">-->
          <div class="row">
            <div class="col-30 px-3 mx-auto">
            <table border="1" width="80%" class="table">
              <tbody>
                <h6>注文内容</h6>
                  <tr>
                    <th>商品</th>
                    <th>単価（税込）</th>
                    <th>個数</th>
                    <th>小計</th>
                  </tr>
                  <% @order.order_items.each do |order_item| %>
                  <tr>
                    <td>
                      <%= order_item.item.name %>
                    </td>
                    <td>
                      <%= (order_item.price * 1.1).floor %>
                    </td>
                    <td>
                      <%= order_item.amount %>
                    </td>
                    <td>
                      <%= (order_item.price * 1.1).floor * order_item.amount %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
</div>












