<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>商品一覧(全<%= Item.count %>件）</h3>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size: "100x100" %>
          <p><%= item.name %></p>
          <p>¥<%= item.price %></p>
          <% end %>
        </div>
        <% end %>

      </div>
      <%= paginate @items %>

      <!--<table class="table">-->
      <!--  <#% @items.each do |item| %>-->
      <!--  <tr>-->
      <!--    <th>-->
      <!--      <#%= link_to item_path(item.id) do %>-->
      <!--      <#%= image_tag item.get_image %>-->
      <!--      <#%= item.name %>-->
      <!--      <#% end %>-->
      <!--    </th>-->
      <!--  <tr>-->
      <!--    <td>-->
      <!--      <#%= link_to item_path(item.id) do %>-->
      <!--      <#%= item.name %>-->
      <!--      <#% end %>-->
      <!--    </td>-->
      <!--  <tr>-->
      <!--    <td>-->
      <!--      <#%= item.price %>-->
      <!--    </td>-->
      <!--  </tr>-->
      <!--  <#% end %>-->
      <!--</table>-->
